/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

        .html,body{
            height: 100vh;
            margin: 0;
        }
        .mat-progress-spinner circle, .mat-spinner circle {
            stroke: #fe5f55!important;
        }
        .mat-progress-spinner{
            background-color: transparent !important;
        }